@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:wght@400;600&display=swap');
 
.adminContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #BCC6D5;
}
  
.adminHeader1 {
  font-family: 'AbrilFatface', serif;
  color: black;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  background-color: rgb(45, 89, 151);
  height: 60px;
  margin: 0px;
}

.adminContent {
  top: 60px;
  height: calc(100vh - 60px);
  display: flex;
  background-color: rgba(188, 198, 213, 0.5);
}

.adminHeader2 {
  color: black;
  font-weight: bold;
  margin-bottom: 20px;
}
  
.adminHeader3 {
  margin: 0px;
  color: black;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 5px;
}

.adminInfo {
  width: 60vw;
  font-size: 20px;
  font-weight: bold;
}

.adminDashboard {
  width: 20vw;
  background-color: rgb(97, 139, 197);
  height: calc(100vh - 60px);
  overflow-y: auto;
}

.adminDisplay {
  width: 80vw;
  height: calc(100vh - 60px);
}

.navBtn {
  margin: 5px;
  padding: 5px;
  margin-bottom: 15px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

.adminSelectedView {
  background-color: #BCC6D5;
}

.adminLink {
  font-weight: bold;
  width: auto;
  text-align: center; 
}

.adminIcon {
  width: 4vw;
  height: auto;
}

.adminEdit {
  height: calc(100vh - 60px);
  overflow-y: auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.homeDiv {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}