.viewChart {
    background-color: rgb(45, 89, 151);
    border-radius: 5px;
    margin-top: 10px;
}

.viewQtn {
    font-size: 20px;
    font-weight: bold;
}

.viewOpt {
    font-size: 18px;
    font-weight: bold;
}

.results {
    margin-left: 5px;
    font-size: 18px;
}